//Typography

b, strong {
	font-family: $f-bold;
	font-weight: 600;
}

img{@extend %img;}

// Стили  ссылок
a {
	color: $color-main;
	text-decoration: none;
	outline: none;
	@include tr;
	&:hover{
		color: lighten($color-main, 10%);
	}
}

h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6 {
	margin-top: 0;
}

h1,.h1,h2,.h2{
	font-family: $f-bold;
	font-weight: 600;	
}

h1,.h1 {
	font-size: 48px;
	line-height: 1.05em;
	@include max-screen(1024) {
		font-size: 40px;
		line-height: 1.125em;
	}
	@include max-screen(768) {
		font-size: 32px;		
	}
}
h2,.h2 {
	font-size: 36px;
	line-height: 1.25em;
	@include max-screen(1024) {
		font-size: 32px;
		line-height: 1.25em;
	}
	@include max-screen(768) {
		font-size: 26px;
		line-height: 1.15384615em;
	}
}
h3,.h3 {
	font-family: $f-medium;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.25em;
	@include max-screen(1024) {
		font-size: 24px;
	}
	@include max-screen(768) {
		font-size: 22px;
		line-height: 1.13636364em;
	}
}
h4,.h4, h5,.h5, h6,.h6 {
	font-size: 18px;
	font-family: $f;
	font-weight: 400;
	line-height: 1.22222222em;
	margin-bottom: $half-indent;
	@include max-screen(768) {
		line-height: 1.11111111em;	
	}
}