body{
	&.loading{
		.preloader{display: block;}
	}
	&.modal-open{
		padding-right: 0 !important;
	}
}

.icon{fill: $gray--darken;}

//Helper Classes
.text-up{text-transform: uppercase;}
.text-center{text-align: center;}
.text-number{font-family: $f2;}

.preloader{
	display: none;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	&__inner{}//preloader__inner
}//preloader

.wrapper {
	min-height: 100vh;
	@extend %flexColumn;
}//.wrapper 

.main{
	flex: 1;
	@include respond-to(xs) {
		padding-top: 50px;
	}
}

.container {@include container;}

.overlay{
	display: none;
	background-color: rgba(#000, .5);
	@include coverdiv;
	z-index: z(overlay);

	&.is-active{display: block;}
}

// .windows{display: none;}

.clearfix {@include clr();}

.color{
	@each $theme, $color in $button-colors{
		&-#{$theme} {
			color: $color;
		}
	}
}//colors class

.bg {
	&--white {background-color: #fff;}
	&--green{background-color: $color-success;}
}

.section-header{
	display: block;
	width: 100%;
	margin: auto;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	overflow: hidden;

	.h2{
		display: inline-block;
		margin: 45px 0;
		position: relative;
		&::before, &::after{
			content: '';
			height: 15px;
			width: 800px;
			position: absolute;
			border-bottom: 1px solid $color-border--dark;
			top: 0;
		}
		&::before{
			right: 100%;
			margin-right: 15px;
		}
		&::after{
			left: 100%;
			margin-left: 15px;
		}
	}

	&__text{
		display: inline-block;
		margin: 45px 0;
		position: relative;
		&::before, &::after{
			content: '';
			height: 1px;
			width: 800px;
			@include vy;
			background-color: $color-border--dark;
		}
		&::before{
			right: 100%;
			margin-right: 15px;
		}
		&::after{
			left: 100%;
			margin-left: 15px;
		}
	}
}

.bz-section{
	padding: 50px 0;
	@include respond-to(xs) {
		padding-bottom: 30px;
	}
}

.phone{
	@extend %flexColumn;

	&__desc{
		color: $gray;
		font-size: 9px;
		line-height: 1.4;
		text-transform: uppercase;
	}//.phone__desc
}//.phone

.social{

	&__list{@extend %flexCenter;}//.social__list

	&__item{
		& + &{margin-left: 20px;}
	}//.social__item

	&__link{
		width: 32px;
		height: 32px;
		border: 1px solid $color-border;
		border-radius: 50%;
		position: relative;
		@include tr;
		display: inline-flex;
		&::after{
			content: '';
			display: block;
			background-color: $color-accent;
			border-radius: 50%;
			@include coverdiv;
			transform: scale(0);
			transition: transform .35s ease;
		}
		&::before{
			margin: auto;
			font-family: faB;
			@include vcenter;
			z-index: z(default);
		}
		&:hover{
			color: #fff;
			border-color: transparent;
			&::after{
				transform: scale(1);
			}
		}
		@each $theme, $icon in $soc-icons{
			&--#{$theme} {
				&::before{
					content: $icon;
				}
			}
		}		
	}//.social__link
}//.social

.breadcrumbs{
}//breadcrumbs

.pagination{
}//pagination

.range{
	@include clr;

	&__slider{
		margin-top: 5px;
		margin-bottom: 15px;
	}//range__slider

	&__from, &__to{
		display: inline-block;
		vertical-align: middle;
		font-size: 15px;
		font-family: $f2;
		color: $color-text--light;
		span{
			font-size: 14px;
			color: $color-text;
		}
		i{			
			font-size: 13px;
			color: $gray--light;
		}
	}//range__from

	&__from{float: left;}
	&__to{float: right;}//range__to
}//range

.star-rating{
	font-size: 0;

	&__wrap{
		display: inline-block;
		font-size: 16px;
		&::after{
			content: "";
			display: table;
			clear: both;
		}
	}

	&__ico{
		float: right;
		padding-left: 2px;
		cursor: pointer;
		color: #FFB300;
		&:last-child{
			padding-left: 0;
		}
	}

	&__input{display: none;}
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before{content: "\f005";}