.catalog{

	@include min-screen(769) {
		padding-top: 50px;
	}

	&__wrap{
		padding-top: 30px;
		margin-bottom: $section-indent;
		@extend %flex;
		align-items: flex-start;
		@include respond-to(sm) {
			padding-top: 0;
			flex-direction: column;
		}
	}//.catalog__wrap

	&__filter{
		width: 250px;
		margin-right: 30px;
		@include respond-to(sm) {
			background-color: #fff;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			margin-right: 0;
			z-index: z(modal);
			@include trfX(-1000%);
			@include trans(transform);
			will-change: transform;

			&.is-visible{
				@include trfX(0);
			}
		}
	}//.catalog__filter

	&__content{
		flex: 1;
		margin-left: auto;
		position: relative;
		@include respond-to(sm) {
			width: 100%;
		}		
	}//.catalog__content

	&__top-line{
		margin-bottom: 30px;
		border-bottom: 1px dashed $color-border;
		@extend %flexCenter;
		@include respond-to(xs) {
			margin-bottom: $gutter;
			padding: 15px 0;
			position: relative;
			justify-content: center;
		}
	}//.catalog__top-line

	&__title{
		@extend %flexCenter;
		.h1{
			margin-right: 15px;
			font-family: $f2;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 0.35px;
		}
	}//.catalog__title

	&__count{
		font-size: 13px;
		@include respond-to(xs) {
			display: none;
		}
	}//.catalog__count

	&__sorting{
		margin-left: auto;
		@include respond-to(xs) {
			display: none;
		}
	}//.catalog__sorting

	&__changer{
		margin-bottom: 30px;
		@include respond-to(xs) {
			margin-bottom: $gutter/2;
		}
	}//.catalog__changer

	&__back{
		padding: 0 10px;
		position: relative;
		top: 2px;
		@include respond-to(xs) {
			position: absolute;
			top: 16px;
			left: 0;
		}
		@include min-screen(481) {
			display: none;
		}
		i{
			font-size: 22px;
		}
	}//.catalog__back
}//.catalog

.catalog-filter{

	&__in{margin-bottom: $gutter*2;}//.catalog-filter__in

	&__cloth{
		padding-top: $gutter*1.5;
		border-top: 1px dashed $color-border;
		@include respond-to(sm) {
			display: none;
		}
	}//.catalog-filter__cloth

	&__header{
		padding: 3.5px 10px;
		border-bottom: 1px solid $color-border--light;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		@extend %flexCenter;

		@include min-screen(769) {
			display: none;
		}

		.button{margin-left: auto;}
	}//.catalog-filter__header

	&__body{
		@include respond-to(sm) {
			position: absolute;
			top: 48px;
			bottom: 40px;
			@include scroll;
		}
	}//.catalog-filter__body

	&__footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		@extend %flexCenter;

		@include min-screen(769) {
			display: none;
		}
	}//.catalog-filter__footer

	&__item{
		margin-bottom: $gutter;
		border: 1px solid $color-border;
		background-color: #ffffff;

		@include respond-to(sm) {
			margin-bottom: 0;
			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-color: $color-border--light;
		}

		&:last-child{margin-bottom: 0;}

		&_price{
			padding: 20px;
			@include respond-to(sm) {
				padding: 0 10px 0;
			}
		}
	}//.catalog-filter__item

	&__subtitle{
		padding: 10px;
		font-size: 12px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		@include respond-to(sm) {
			padding: 15px 10px;
		}
	}//.catalog-filter__subtitle

	&__content{
		max-height: 248px;
		border-top: 1px solid $color-border;
		@include respond-to(sm) {
			padding: 10px;
			border-top: 0;
		}
	}//.catalog-filter__content

	&__subitem{
		@extend %flexCenter;
		@include respond-to(sm) {
			display: inline-block;
		}
		@include respond-to(xs) {
			margin-bottom: 11px;
		}
		& + &{
			border-top: 1px solid $color-border--light;
			@include respond-to(sm) {
				border-top: 0;
			}
		}
		.checkbox{
			padding: 10px 10px 13px;
			flex: 1;
			&__title{
				font-family: $f-light;
			}
			@include respond-to(sm) {
				flex: auto;
				padding: 0;
			}
		}
	}//.catalog-filter__subtitle

	&__color{
		width: 15px;
		height: 15px;
		margin-right: 10px;	
		@include respond-to(sm) {
			display: none;
		}
	}//.catalog-filter__subtitle

	&__btn{
		width: 50%;
		height: 40px;
		font-family: $f-light;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		border: 0;
		background-color: transparent;
		outline: none;

		&--aply{
			color: #fff;
			background-color: $color-main;
		}

		&--close{
			border-top: 1px solid $color-border--light;
		}

		&--show{
			width: 52px;
			height: 52px;
			border-radius: 50%;
			background-color: $color-main;
			box-shadow: $bxs;
			position: fixed;
			bottom: 10px;
			right: 10px;
			z-index: z(absolute);
			@extend %flexCenter;
			justify-content: center;
			.icon{
				width: 25px;
				height: 25px;
				fill: #fff;
			}
			@include min-screen(769) {
				display: none;
			}
		}
	}
}//.catalog-filter

.range{

	&__slider{
		margin-top: 5px;
		margin-bottom: 20px;
	}//range__slider

	&__diapazon{
		@extend %flexCenter;
		justify-content: center;
	}//.range__diapazon

	&__from, &__to{
		display: inline-block;
		padding: 2px 10px;
		vertical-align: middle;
		font-size: 14px;
		font-family: $f;
		background-color: $color-bg--lighten;
		position: relative;
		span{
			font-size: 13px;
			color: $color-text;
		}
		i{			
			font-size: 13px;
			color: $gray--light;
		}
	}//range__from

	&__to{
		margin-left: 25px;
		&::before{
			content: '';
			display: block;
			width: 8px;
			height: 1px;
			background-color: $color-bg--dark;
			position: absolute;
			top: 50%;
			left: -17px;
		}
	}//range__to
}//range

.cloth{

	&__title{
		display: block;
		margin-bottom: $gutter;
		font-family: $f2-bold;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}//.cloth__title

	&__item{
		margin-bottom: 15px;
		&:last-child{margin-bottom: 0;}
	}//.cloth__item

	&__subtitle{
		display: inline-block;
		margin-bottom: 5px;
		color: #656565;
		font-family: $f2-bold;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
	}//.cloth__subtitle

	&__count{
		margin-left: 5px;
		font-family: $f2-light;
		font-weight: 300;
		color: $color-text--light;
		font-size: 12px;
		letter-spacing: 0.24px;
	}//.cloth__count

	li{
		font-size: 12px;
		text-transform: uppercase;
		& + li{
			display: block;
			margin-top: 5px;
		}
	}
}//.cloth

.catalog-content{
	position: relative;

	&__empty{text-align: center;}//.catalog-content__empty

	&__btn{
		display: block;
		margin: $gutter auto $gutter*2;
	}//.catalog-content__btn

	&__preloader{
		background-color: rgba(#fff, .85);
		position: absolute;
		z-index: z(absolute);
	}//.catalog-content__preloader
}//.catalog__content

.changer{
	@extend %flexCenter;

	&__title{
		display: inline-block;
		margin-right: 15px;
		font-family: $f-bold;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.28px;

		@include respond-to(xs) {
			display: none;
		}
	}//.changer__title

	&__list{
		@extend %flexCenter;

		@include respond-to(xs) {
			flex-wrap: wrap;
		}
	}//.changer__list

	&__item{

		&.is-checked{
			.changer{
				&__link{
					color: #fff;
					background-color: $color-bg--dark;					
				}
				&__reset{display: block;}
			}
		}

		@include respond-to(xs) {
			margin-bottom: 5px;
		}
		& + &{margin-left: 15px;}
	}//.changer__item

	&__link{
		padding: 3px 0 3px 10px;
		font-family: $f-bold;
		font-size: 14px;
		border-radius: $border-radius;
		cursor: pointer;
		transition: initial;
		@extend %flexCenter;

		&:hover{color: initial;}
	}//.changer__link

	&__reset{
		display: none;
		padding: 0 10px;
		margin-left: 9px;
		border-left: 1px solid rgba(#fff, .5);
		cursor: pointer;
	}//.changer__reset

	&__counter{
		margin-left: 5px;
		font-size: 13px;
		color: $gray;
	}//.changer__counter
}//.changer

.sorting{	
	width: auto;
	@extend %flexCenter;

	&__title{
		margin-right: 10px;
		margin-top: -2px;
		white-space: nowrap;
		font-size: 13px;
		flex: 1;
		@include max-screen(480) {
			display: none;
		}
	}
}//.sorting

.product-item{
	display: inline-block;
	margin-bottom: $base-indent*1.5;
	background-color: #fff;
	position: relative;

	&:hover, &.is-hover{
		color: $color-text;
		@include min-screen(481) {
			box-shadow: 0 20px 30px rgba(#000, 0.4);
			.product-item{
				&__img{border-color: transparent;}
				&__more{display: block;}
			}			
		}
	}

	&__wrap{
		@include row-flex();
		.product-item{
			@include col();
			@include size(4);
			@include size-xs(6);
			@include size-i7(12);

			&--small{
				@include col();
				@include size(1.5);		
				@include size-sm(2);	
				@include size-xs(4);
				@include size-i7(4);
				@include size-i5(6);
			}
		}
	}

	&__img{
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid $color-border--light;
		position: relative;
	}//.product-item__img

	&__fav{
		color: #fff;
		position: absolute;
		top: 12px;
		right: 15px;
	}//.product-item__fav

	&__more{
		display: none;
		padding: 0 10px 10px;
		background-color: #fff;
		box-shadow: 0px 20px 30px rgba(0,0,0,.4);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: z(default);
		@include respond-to(xs) {
			display: none;
		}
	}//.product-item__more

	&__box{@extend %flexCenter;}//.product-item__box

	&__desc{padding: 0 10px;}//.product-item__desc

	&__title{
		margin-bottom: 0px;
		font-family: $f2-bold;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.24px;
		text-transform: uppercase;
		span{
			font-family: $f;
			font-weight: 400;
			position: relative;

			&::before, &::after{
				font-family: faL;
			}

			&::before{
				content: '\f100';
			}

			&::after{
				content: '\f101';
			}
		}
	}//.product-item__title

	&__price{
		font-family: $f2-bold;
		font-size: 14px;
	}//.product-item__price

	&__articul, &__color-count{margin-left: auto;}//.product-item__articul

	&__articul{
		font-size: 12px;
		text-transform: uppercase;
	}//.product-item__articul

	&__color-count{
		margin-left: auto;
		font-style: normal;
	}//.product-item__color-count

	&__color{
		margin-top: 15px;
		margin-bottom: 10px;
	}//.product-item__color

	&__btn{
		display: block;
		width: 100%;
		& + &{
			margin-top: 7px;
		}
	}//.product-item__btn

	&__del{
		border: 0;
		background-color: transparent;
		.icon{
			width: 24px;
			height: 24px;
		}
	}//.product-item__del

	&__box{
		@extend %flexCenter;
		justify-content: space-between;
	}

	&--small{
		width: 180px;

		@include min-screen(481) {
			&:hover, &.is-hover{
				box-shadow: none;
				.product-item__img{border-color: $color-border--dark;}
			}
		}

		.product-item{
			&__desc{
				text-align: center;
				@include respond-to(xs) {
					padding: 0;
				}
			}
			&__fav, &__more, &__articul, &__color-count{display: none !important;}
		}

		.rub{
			font-family: $f;
			font-style: normal;
			font-size: 12px;
		}
	}//.product-item--small

	&--color{
		margin-bottom: $gutter;

		@include respond-to(xs) {
			margin-bottom: $gutter;
		}

		.product-item{
			&__img{
				padding: 0;
				margin-bottom: 10px;
				border: 0;
			}
			&__title{
				font-family: $f;
				font-weight: 400;
				&::before, &::after{display: none;}
			}
		}
	}//.product-item--color

	&--wide{
		display: flex;
		align-items: center;

		&:hover{
			@include min-screen(481) {
				box-shadow: none;
				.product-item{
					&__img{border-color: $color-border--light;}
				}
			}
		}
		.product-item{
			&__img{
				width: 70px;
				padding: 5px;
				margin-right: $gutter;
				margin-bottom: 0;
				border-color: $color-border--light;
				@include respond-to(xs) {
					margin-right: $gutter/2;
				}
			}
			&__desc{
				flex: 1;
				@include respond-to(xs) {
					padding: 0;
				}
			}
			&__title{
				font-size: 15px;
				@include respond-to(xs) {
					margin-bottom: 10px;
				}
			}
			&__articul{
				font-size: 15px;
				text-transform: initial;
				@include respond-to(xs) {
					display: none;
				}
				span{
					text-transform: uppercase;
				}
			}
			&__price{
				font-size: 20px;
				letter-spacing: 0.5px;
				font-family: $f2-bold;
				font-weight: 700;
				@include respond-to(xs) {
					margin-bottom: $gutter;
					font-size: 16px;
					order: 2;
					flex: 1;
				}
				span{
					font-family: $f-light;
					font-weight: 300;
					font-size: 16px;
				}
				&--current{
					@include respond-to(xs) {
						margin-right: $gutter;
						order: 1;
						flex: initial;
					}
				}
			}
			&__box{
				@include respond-to(xs) {
					flex-wrap: wrap;
				}
			}
			&__del{
				position: absolute;
				top: 15px;
				right: 0;
			}
		}
		.item-select{
			max-width: 180px;
			margin-left: -70px;
			width: 100%;
			margin-top: 0;
			position: relative;

			@include respond-to(xs) {
				order: 3;
				margin-left: 0;
			}

			&--count{
				.item-select__subtitle{width: 140px;}
			}

			&__title{
				width: 100%;
				text-align: center;
				&_wrap{
					.item-select__title{width: 100%;}
				}
			}

			&__caption{
				display: none;
				top: -30px;
			}

			&__list{top: 97%;}
		}
	}//.product-item--wide
}//.product-item

.color{

	&__list{
		@extend %flexCenter;
		flex-wrap: wrap;
	}//.color__list

	&__item{
		margin-right: 9px;
		margin-bottom: 9px;
	}//.color__item

}//.color

.color-count{
	padding-left: 20px;
	font-size: 12px;
	position: relative;
	
	&::before{
		content: '';
		display: block;
		width: 13px;
		height: 13px;
		background-color: transparent;
		@include sprite(colors);
		border-radius: 50%;
		@include vy;
		left: 0;
	}
}//.color-count