.promo{margin-top: 10px;}//.promo

.advantages{
	padding-top: 0;
	
	@include respond-to(xs) {
		padding-bottom: 10px;
	}

	.h2{
		margin: 70px 0 60px;
		@include respond-to(xs) {
			margin: 50px 0 50px;
		}
	}
}//.advantages

.new{
	padding-top: 0;

	@include respond-to(i5) {
		padding: 0;
	}

	&__item{
		display: block;
		height: 100%;
		overflow: hidden;
		position: relative;
		transition: background-size .3s linear;
		background-size: 100%;
		background-position: 50% 50%;
		&:hover{
			background-size: 104%;
		}
	}//.new__item

	&__title{
		padding: 7px 15px;
		font-size: 17px;
		color: #fff;
		background-color: rgba(#000, .5);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		span{
			display: block;
			font-family: $f-light;
			font-size: 15px;
			i{
				position: relative;
				top: 1px;
				margin-left: 15px;
			}
		}
	}//.new__title

	&__order{
		padding: 10px 30px;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		background-color: $color-bg--dark;
		position: absolute;
		bottom: 20px;
		right: 0;
		i{
			margin-left: 15px;
			font-size: 20px;
			position: relative;
			top: 2px;
		}
	}//.new__order

	&__bage{
		padding: 5px 15px;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		background-color: $color-bg--dark;
		position: absolute;

		&--new{
			bottom: 30px;
			left: 0;
		}
	}//.new__bage
}//.new

.bz-grid{
	margin-top: $base-indent;
	
	&-in{
		min-height: 550px;
		@include row-flex;

		@include respond-to(xs) {
			min-height: auto;
		}
	}
	&-col{
		@include respond-to(xs) {
			margin-top: $gutter/2;
		}		
	}
	&-col-3{
		@include col;
		@include size(4);
		@include size-xs(12);
	}
	&-col-2{
		@include col;
		@include size(8);
		@include size-xs(12);
	}
	&-row{
		height: 100%;
		min-height: 210px;
		overflow: hidden;
		& + &{
			margin-top: $gutter;
			@include respond-to(xs) {
				margin-top: $gutter/2;
			}
		}

		&-2{
			height: calc(60% - 10px);
			@include respond-to(xs) {
				height: 100%;
				max-height: 210px;
			}
		}
		&-3{
			height: calc(40% - 10px);	
			@include respond-to(xs) {
				height: 100%;
				max-height: 210px;
			}		
		}
		&-6{
			height: calc(50% - 10px);	
			@include respond-to(xs) {
				height: 100%;
				max-height: 210px;
			}		
		}
	}
	img{
		height: 100%;
	}
}//.bz-grid

.advantages-item{
	margin-bottom: $base-indent*2;
	@extend %flexCenter;

	@include col;
	@include size(4);
	@include size-md(6);
	@include size-xs(12);
		
	@include respond-to(sm) {
		justify-content: center;
	}
		
	@include respond-to(xs) {
		justify-content: flex-start;
	}

	&__wrap{
		@include row-flex;
		
		@include respond-to(sm) {
			justify-content: center;
			align-items: center;
		}
	}//.advantages-item__wrap

	&__icon{
		width: 90px;
		height: 90px;
		margin-right: 10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
		border: 1px solid $color-accent;
		border-radius: 50%;
		background-color: $color-accent;
		display: inline-flex;

		.icon, .fal{margin: auto;}

		.icon{fill: #fff;}

		.fal{
			font-size: 30px;
			color: #fff;
		}
	}//.advantages-item__icon

	&__desc{
		@extend %flexColumn;
		align-items: center;
		justify-content: center;
	}//.advantages-item__desc

	&__num{
		font-family: $f2-bold;
		font-size: 35px;
		letter-spacing: 0.7px;
		span{
			font-size: 22px;
		}
	}//.advantages-item__num

	&__text{font-size: 14px;}//.advantages-item__text	
}//.advantages-item

.why-we{
	padding: 50px 0;
	background-color: $color-bg--lighten;

	@include respond-to(xs) {
		padding-top: 30px;
	}

	&__title{
		display: block;
		margin-bottom: $base-indent/2;
		font-family: $f2-bold;
		font-size: 22px;
	}
}//.why-we