{% set
dayOfWeek = [
	{
		title: 'Пн',
		time: '9:00 - 19:00'
	},
	{
		title: 'Вт',
		time: '9:30 - 18:30'
	},
	{
		title: 'Ср',
		time: '8:30 - 20:00'
	},
	{
		title: 'Чт',
		time: '10:30 - 19:00'
	},
	{
		title: 'Пт',
		time: '9:00 - 18:00'
	},
	{
		title: 'Сб',
		time: '10:00 - 17:00'
	},
	{
		title: 'Вс',
		time: 'Выходной',
		class: 'is-holiday'
	}
]
%}

{% set
mainMenu = [
	{
		title: 'Ногти',
		direction: 'left'
	},
	{
		title: 'Волосы',
		direction: 'left'
	},
	{
		title: 'Ресницы',
		direction: 'left'
	},
	{
		title: 'Косметология',
		direction: 'left'
	},
	{
		title: 'Визаж',
		direction: 'right'
	},
	{
		title: 'Эпляция',
		direction: 'right'
	},
	{
		title: 'Массаж',
		direction: 'right'
	}
]
%}

{% set
month = [
	{
		title: 'Январь'
	},
	{
		title: 'Февраль'
	},
	{
		title: 'Март'
	},
	{
		title: 'Апрель'
	},
	{
		title: 'Май'
	},
	{
		title: 'Июнь'
	},
	{
		title: 'Июль'
	},
	{
		title: 'Август'
	},
	{
		title: 'Сентябрь'
	},
	{
		title: 'Октябрь'
	},
	{
		title: 'Ноябрь'
	},
	{
		title: 'Декабрь'
	}
]
%}