%button{
	display: inline-block;
	min-width: 200px;
	height: 40px;
	line-height: 38px;
	font-family: $f-medium;
	// text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.3px;
	color: $color-text;
	text-decoration: none;
	border: none;
	border-radius: $border-radius;
	outline: none;
	cursor: pointer;
	@include tr;
}

.button {
	@extend %button;
	@each $theme, $color in $button-colors{
		&--#{$theme} {
			color: #fff;
			background-color: $color;
		}
		&--#{$theme}:hover,
		&--#{$theme}:focus{
			background-color: lighten($color, 6%);
		}
		&--#{$theme}:active, {
			background-color: lighten($color, 3%);
		}
	}

	&--transparent{
		background-color: transparent;

		@each $theme, $color in $button-colors{
			&.button--#{$theme}{
				color: darken($color, 10%);
				background-color: transparent;
				border: 1px solid $color;
			}
			&.button--#{$theme}:hover,
			&.button--#{$theme}:focus,
			&.button--#{$theme}:active{
				background-color: $color;
				font-size: 14px;
				color: #fff;
			}
		}
	}//.button--transparent

	// &--accent{
	// 	color: #fff;
	// }//.button--accent

	&--muted{
		&:hover{
			color: #fff;
		}
	}//.button--muted

	&--link{
		min-width: auto;
		padding: 0;
		letter-spacing: 0;
		font-family: $f;
		color: $color-accent;
		text-transform: initial;
		background-color: transparent;
		border: 0;
	}//.button--link
}//.button

.button-icon{
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 0;
	border: 0;
	background-color: transparent;
	outline: none;
	position: relative;

	&--fav{
		&::before{
			content: '\f004';
			font-family: faL;
			font-size: 25px;
			@include vcenter;
		}
		&:hover{
			&::before{
				color: $color-third;
			}
		}
		&.is-checked{
			&::before{
				font-family: faS;
				color: $color-third;
			}
		}
	}
}//.button-icon