.modal-open .modal{padding-right: 0 !important;}
.modal{

	&-dialog{

		@include respond-to(xs) {
			margin-top: $base-indent*3;
		}

		&--md{
			max-width: 768px;
			margin: $base-indent auto;
		}

		&--sm{
			max-width: 425px;
			margin: $base-indent auto;
		}

	}

	&-header{
		position: relative;

		.modal__btn--close{
			top: 8px;
			right: 5px;
		}
	}

	&-title{
		margin: auto 0;
		font-family: $f-medium;
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0;
		text-transform: initial;
		line-height: 1;
	}

	&__btn{
		
		&--close{		
			padding: 5px 10px;	
			font-size: 21px;
			font-weight: 700;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			opacity: .3;
			background-color: transparent;
			border: 0;
			cursor: pointer;
			outline: none;
			position: absolute;
			top: 3px;
			right: 10px;
			z-index: z(default);

			&:hover {
				text-decoration: none;
				opacity: .75;
			}

			&:not(:disabled):not(.disabled) {
				cursor: pointer;
			}
		}	    
	}
}//.modal

.change-city{

	&__title{
		display: block;
		margin-bottom: 10px;
		font-family: $f-bold;
		font-size: 20px;
	}//.change-city__title

	&__in{
		@extend %flex;
		flex-wrap: wrap;
	}//.change-city__in

	&__list{

		@include respond-to(xs) {
			margin-top: 5px;
			width: 50%;
		}

		&_country{
			display: inline-block;
			padding-top: $base-indent;
			padding-right: 70px;
			margin-top: $base-indent;
			border-top: 1px solid $color-border--light;
		}
	}//.change-city__list

	&__item{
		font-size: 14px;
		cursor: pointer;
		position: relative;

		& + &{
			margin-top: 5px;
		}

		&::before{
			content: '';
			display: block;
			@include vy;
			left: 0;
		}

		@each $item in belarus ukraine kaz{
			&--#{$item}{
				padding-left: 34px;
				font-size: 15px;
				&::before{					
					@include sprite(flag--#{$item});
				}				
			}
		}
	}//.change-city__item
}//.change-city